*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.roundbtn{
    border: none;
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.double{
    background-color: #119fef;
    width: 100%;
    height: 100vh;
}

.taskOneContainer{
    background-color: #119fef;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.sec{
    margin: 10px;
}
.topDiv{
    display: flex;
    justify-content: space-between;
}
.topDiv1{
    text-align: left;
}
.title{
    color: rgb(161, 167, 172);
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 13px;
}
.number{
    margin-top: -8px;
    font-weight: 500;
    font-size: 18px;
}

.bottomDiv{
   display: flex;
   align-items: center;
}
.trafficArrow{
  color: rgb(18, 143, 18);
  font-size: 20px;
}
.traffcPercent{
    font-size: 12px;
    color: rgb(18, 143, 18);
    margin-right: 10px;
}
.traficHistory{
    color: lightslategray;
    font-size: 13px;
}
.userArrow{
    color: rgb(211, 12, 12);
  font-size: 20px;
}
.userPercent{
    font-size: 12px;
    color: rgb(185, 28, 28);
    margin-right: 10px;
}

/*--task container--*/


.abWrapper{
   background-color: white;
   width: 270px;
   max-width: 100%;
   border-radius:7px;
   padding: 15px;
}



@media only screen and (max-width: 1200px){
    .taskOneContainer{
        background-color: #119fef;
        max-width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
   
}
@media only screen and (max-width: 320px){
    .taskOneContainer{
        background-color: #119fef;
        max-width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }
     .abWrapper{
        background-color: white;
        max-width: 270px;
        width: 100%;
        border-radius:7px;
        padding: 15px;
     }
}