*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.arrow{
    font-size: 20px;
    color: rgb(255, 255, 255) !important;
    border: none;
    background-color: transparent;
}
.issue{
    background-color: transparent!important;
    border: none;
    font-size: 25px;
    color: white;
}
.modal{
    margin:  0px auto 0px auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modalContentWrapper{
    display: flex;
justify-content: center;
align-items: center;
padding: 20px 0px;
width: 100%;
margin: 0 auto;
}
.centerContent{
    border-radius: 15px;
    width: 270px;
    height: 650px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 50px !important;
    margin-right: 50px !important;
    
    }
.sectionTop{
    display: flex;
    justify-content: space-between;
}
.sectionTopDivOne{
    display: flex;
    justify-content: space-between;
}
.sectionTopDivOne img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}
.sectionMid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    background-color: gray;
    border-radius: 10px;
    padding-top: 4px;
    text-align: center;
}
.sectionMid div{
    margin-bottom: 4px;
}
.p1{
    font-size: 10px;
    font-weight: 500;
    margin-top: -5px;
    color: rgb(175, 171, 171);
}
.p2{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    color: white;
}
.sectionBottom{
    width: 100%;
    border-radius: 10px !important;
    background-color: gray;
}
.reactPlayer{
    width: 100% !important;
    max-width: 300px;
    height: 470px !important;
    border-radius: 10px !important;
    overflow: hidden;
}
.profilename{
    font-weight: 500;
    position: relative;
    color: white;
    top: -5px;
    font-size: 12px;
}
.instaIcon{
    font-size: 16px;
    color: rgb(175, 171, 171);
}
.accountId{
    margin-top: -1px;
    font-size: 12px;
    color: rgb(175, 171, 171);
}
.dot{
    color: rgb(175, 171, 171);
}
@media only screen and (max-width: 1250px){
    .centerContent{
        border-radius: 15px;
        width: 270px;
        height: 650px;
        margin-top: 170px;
        margin-bottom: 30px;
        margin-left: 50px !important;
        margin-right: 50px !important;
        
        }
        .reactPlayer{
            width: 100% !important;
            max-width: 300px;
            height: 380px !important;
            border-radius: 10px !important;
            border-radius: 10px;
            overflow: hidden;
        }
}
@media only screen and (max-width: 1050px){
    .centerContent{
        border-radius: 15px;
        width: 270px;
        height: 650px;
        margin-top: 170px;
        margin-bottom: 30px;
        margin-left: 50px !important;
        margin-right: 50px !important;
        
        }
        .reactPlayer{
            width: 100% !important;
            max-width: 300px;
            height: 380px !important;
            border-radius: 10px !important;
            border-radius: 10px;
            overflow: hidden;
        }
}
@media only screen and (max-width: 800px){
    .centerContent{
        border-radius: 15px;
        width: 270px;
        height: 650px;
        margin-top: 170px;
        margin-bottom: 30px;
        margin-left: 50px !important;
        margin-right: 50px !important;
        
        }
        .reactPlayer{
            width: 100% !important;
            max-width: 300px;
            height: 380px !important;
            border-radius: 10px !important;
            border-radius: 10px;
            overflow: hidden;
        }
}