*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.conatiner{
    background-color: rgb(51, 50, 38);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 50%;
    height:auto;
    background-color: white;
    text-align: left;
    padding: 20px;
     border-radius: 10px;
}
.buttons{
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: lightslategray;
}

.containerLangage{
  border-bottom: 1px solid lightgrey;
  padding-top: 10px;
}
.title{
    font-weight: 600;
    font-size: 15px;
}