/* The switch - the box around the slider */
.wholeLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
.wholeLabel p{
    font-weight: 500;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-bottom: 0px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider{
    border-radius: 34px;
  }
  #round{
    border-radius: 34px;
  }
  #round:before{
      border-radius: 50%;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*--below is container--*/

  .containerWrapper{
      text-align: left;
      width: 300px;
      margin: 50px auto;
  }
  .containerWrapper h5{
    margin-bottom: 20px;
    font-weight: 500;
  }
  .containerdiv1{
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }