*{
    padding: 0px;
    margin: 0px;
}
.masonryGrid{
  padding: 15px;
}
.image{
    width: 100%;
    border-radius: 15px;
}
.video{
    width: 100%;
    border-radius: 15px;
}
.imgContainer{
    position: relative;
    width: 100%;
}
.videoContainer{
    position: relative;
    width: 100%;
}

.contentWrapper{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}
.contentWrapper:hover{
    opacity: 1;
}
.imgContainer:hover{
    opacity: 1;
}
.videoContainer:hover{
    opacity: 1;
}
.div1{
    margin-top: 0px;
}
.span{
 margin-right: 7px;
}
.prof{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.alignment{
    display: flex;
    align-items: center;
}