*{
    padding:0px;
    margin:0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.englishEditWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.englishEditDiv1{
    text-align: left;
}
.englishP1{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}
.englishP2{
    margin-top: -8px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(161, 160, 160);
}
.editBtn{
    color: rgb(161, 160, 160);
    border: none;
    font-weight: 500;
    background-color: transparent;
}

/*--english-edit--*/

.saveEnglishWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 20px 0px;
}
.SaveEnglishSelect{
    width: 200px;
}
.SaveEnglishBtn{
    color: rgb(196, 191, 191);
    border: none;
    font-weight: 500;
    background-color: black;
    padding: 4px 15px;
    border-radius: 20px;
}
.englishSelect{
    font-weight: 600;
}