*{
    font-family: serif;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 2px solid red;
    background-image: linear-gradient(to right, lightgreen , lightgreen);
}
.left{
    padding: 10px 30px 15px 25px;
    height: 55px;

    
}

.btnLeft{
    border: none;
    background-color: transparent;
    float: left;
    font-size: 28px;
    margin-top: 5px;
}


.leftAside{
   width: 30% !important;
   background-color: lightgreen;
}
.leftAside h4{
  position: absolute;
  margin-left: 37px;
  margin-top: 0px;
  padding: 10px 87px 10px 87px;
  background-color: lightgreen;
}
.leftAside div{
    left: 0px;
    position: absolute;
    margin-top: 47px;
    width: 30%;
    height: 100%;
    padding-top: 30px;
    background-color: lightgreen;
    z-index: 1;
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
}
.leftAside div h5{
    font-size: 18px;
}

/*---left---*/

.right{
    padding: 10px 25px 15px 30px;
    height: 55px;
    margin-top: 0px;
    margin-right: 0px;
}

.btnRight{
    border: none;
    background-color: transparent;
    float: right;
    font-size: 28px;
    margin-top: 5px;
}
.rightAside{
    width: 30% !important;
    background-color: lightgreen;
 }
 .rightAside h4{
     position: absolute;
     right: 0px;
     margin-right: 60px;
  margin-top: 0px;
  padding: 10px 87px 10px 87px;
  background-color: lightgreen;
    
  }
  .rightAside div{
    position: absolute;
    right: 0px;
    margin-top: 47px;
    width: 30%;
    height: 100%;
    padding-top: 30px;
    background-color: lightgreen;
    z-index: 1;
    padding-left:20px;
    padding-right: 30px;
    text-align: left;
}
.rightAside div h5{
    font-size: 18px;
    margin-bottom: 20px;
}
.main{
    height: 100vh;
    padding: 30px;
    text-align: left;
    background-color: wheat;
}
.main p{
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px){
    .rightAside h4{
        position: absolute;
        right: 0px;
        margin-right: 60px;
     margin-top: 0px;
     padding: 12px 27px 13px 27px;
     background-color: lightgreen;
       
     }
     .leftAside h4{
        position: absolute;
        margin-left: 37px;
        margin-top: 0px;
        padding: 12px 27px 13px 27px;
        background-color: lightgreen;
      }
}

@media only screen and (max-width: 768px){
    .rightAside h4{
      display: none;
       
     }
     .leftAside h4{
        display: none;
      }
     
    @media only screen and (max-width: 600px){
        .leftAside div{
            left: 0px;
            position: absolute;
            margin-top: 47px;
            width: 70%;
            height: 100%;
            padding-top: 30px;
            background-color: lightgreen;
            z-index: 1;
            padding-left: 30px;
            padding-right: 20px;
            text-align: left;
        }
          .rightAside div{
            position: absolute;
            right: 0px;
            margin-top: 47px;
            width: 70%;
            height: 100%;
            padding-top: 30px;
            background-color: lightgreen;
            z-index: 1;
            padding-left:20px;
            padding-right: 30px;
            text-align: left;
        }
        .rightAside h4{
            display: none;
             
           }
           .leftAside h4{
              display: none;
            }
    }
}
