.screenWrapper{
    display: grid;
    grid-template-columns: 7% 17% 76%;
    width: 100%;
    height: 100%;
}
.sideBar{
background-color: rgb(187, 255, 0);
width: 100%;
}
.sideNavBar{
   background-color: crimson;
   width: 100%;
}
.displayArea{
    background-color: rgb(20, 220, 87);
    width: 100%;
} 
.topHeader{
    width: 100%;
    height: 150px;
    background-color: cyan !important;
}
.table{
    margin-top: 80px;
    max-width: 100%;
    width: 100%;
    height: 400px;
    background-color: rgb(234, 0, 255) !important;
}