.container{
    padding: 20px;
    width: 100%;
}
.data{
    width:100%;
    margin: 20px auto;
}
.datawrapper{
    display: flex;
    justify-content: space-evenly;
}
.div1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.div1 p{
    margin-right: 30px;
}
.input{
    margin-right: 30px;
    padding: 10px 20px;
    background-color: white;
    border:  1px solid rgb(190, 186, 186) !important;
    border-radius: 5px;
    color: black;
    font-size: 17px;
}
.input:focus{
    outline: none;
}
.input:active{
    border: 1px solid #007bff !important;
}
.addbtn{
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 18px;   
}
.resetbtn{
    margin-left: 15px;
    padding: 7px 10px;
    margin-right: 7px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}


/*--below about data css--*/

.increment{
    padding: 7px 10px;
    margin-right: 7px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.decrement{
    padding: 7px 10px;
    margin-right: 7px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.personCounter p{
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px;
    margin-top: -2px;
    border-radius: 10px;
    margin-right: 10px;
}
.edit{
    margin: 0px 10px;
    padding: 10px 15px;
    margin-right: 7px;
    color: white;
    background-color: rgb(38, 151, 151);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.savebtn{
    margin: 0px 10px;
    padding: 10px 15px;
    margin-right: 7px;
    color: white;
    background-color: rgb(63, 175, 175);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.delete{
    margin: 0px 10px;
    padding: 10px 15px;
    margin-right: 7px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.datetime p{
   font-size: 27px;
   font-weight: 700;
   background-color: red;
   color: white;
   padding: 3px;
   margin-left: 10px;
   border-radius: 7px;
}
.text{
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    .div1{
        display: flex;
        flex-wrap: wrap;
    }
    .input{
        margin-right: 30px;
        padding: 10px 20px;
        background-color: white;
        border:  1px solid rgb(190, 186, 186) !important;
        border-radius: 5px;
        color: black;
        font-size: 17px;
        margin-bottom: 30px;
    }
    .input:focus{
        outline: none;
    }
    .input:active{
        border: 1px solid #007bff !important;
    }
    .addbtn{
        padding: 10px;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        border: none;
        font-size: 18px;   
    }
    .resetbtn{
        margin-left: 15px;
        padding: 7px 10px;
        margin-right: 7px;
        color: white;
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    
    /*--below about data css--*/
    
    .increment{
        padding: 7px 10px;
        margin-right: 7px;
        color: white;
        background-color: gray;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .decrement{
        padding: 7px 10px;
        margin-right: 7px;
        color: white;
        background-color: gray;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .personCounter p{
        font-size: 14px;
        font-weight: 700;
        padding: 5px 14px;
        margin-top: -2px;
        border-radius: 10px;
        margin-right: 10px;
    }
    .edit{
        margin: 0px 10px;
        padding: 10px 15px;
        margin-right: 7px;
        color: white;
        background-color: rgb(38, 151, 151);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .savebtn{
        margin: 0px 10px;
        padding: 10px 15px;
        margin-right: 7px;
        color: white;
        background-color: rgb(63, 175, 175);
        border: none;
        border-radius: 5px;
    }
    .delete{
        margin: 0px 10px;
        padding: 10px 15px;
        margin-right: 7px;
        color: white;
        background-color: red;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;

    }
}