*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.SeventeenContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 100%;
    padding: 40px;
    box-shadow: 0px 2px 7px 2px rgb(143, 141, 141);
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
   
}
.sec1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sec1 p{
    font-size: 18px;
    font-weight: 500;
}
.sec1{
    margin-right: 40px;
}
.heading{
    font-size: 19px;
    font-weight: 500;
}
.descrp{
    font-weight: 500;
    font-size: 15px;
}

@media only screen and (max-width: 800px){
    .SeventeenContainer{
      display: block;
      width: 50%;
    }
    .sec1 {
        margin-right: 0px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 480px){
    .SeventeenContainer{
        display: block;
        max-width: 50%;
      }
    .sec1 {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 320px){
    .SeventeenContainer{
        display: block;
        max-width: 70%;
      }
      .sec1 {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}