.parent-component{
    display: flex;
    margin: 10% auto;
}
.left-dp{
    position: fixed;
}
.right-div-dp{
    margin-left: 70px;
    overflow: auto;
}
.month-picker-dropdown {
    position: relative;
    width: 100%;
    outline: none;
    max-width: 70px;
    font-size: 12px;
}
    .select-months {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin: 0 0 0 0;
        padding: 0px 5px;
        border: 1px solid lightgrey;
        border-radius: 20px;
        width: 60px;
        height: 35px;
        max-height: 50px;
        color: rgb(0, 0, 0);
        font-size: 10px !important;
        font-weight: 500;
        box-sizing: border-box;
        overflow: hidden;

    }
    ::-webkit-scrollbar {
        width: 0px; 
      }

    .select-picker {
        font-size: 12px;
        border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
        border-left: solid 0.5px rgba(0, 0, 0, 0.2);
        border-right: solid 0.5px rgba(0, 0, 0, 0.2);
    }
        .select-picker-options {
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          max-width: none;
          max-height: 256px;
        }
          .options {
              margin-left: -10px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            line-height: 8px;
            padding: 0px 0px;
            height: 48px;
            text-align: left;
            text-decoration: none;
            max-width: 100%;
            position: relative;
            cursor: pointer;
            outline: none;
            display: flex;
            flex-direction: row;
            max-width: 100%;
            box-sizing: border-box;
            align-items: center;
            -webkit-tap-highlight-color: transparent;
            border-bottom: solid 0.5px rgba(0, 0, 0, 0.04);
          }
            .option-checkbox {
              margin-right: 0px;
              display: none;
            }
    

    