*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 100vh;
   background-color: orangered;
   }
   .wrapper{
       width: 600px;
       background-color: rgb(255, 255, 255);
       padding: 35px 15px 0px 15px;
   }

.middle{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: -80px;
    border-bottom: 1px solid rgb(225, 235, 235);
    margin-left: 85px;
    padding-bottom: 60px;
}
.middle a{
    font-size: 20px;
    text-decoration: none !important;
}
.midimg{
    width: 120px;
    height: 120px;
    margin-top: -10px;
}


/*--top ---*/

.userpic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.top{
    display: flex;
    align-items: center;
}
.sub{
    text-align: left;
    margin-left: 10px;
    margin-top: -10px;
}
.name{
    font-size: 20px;
    font-weight: 600;
}
.time{
    margin-top: 5px;
    color: #8b8b92;
    font-weight: 500;
    font-size: 20px;
}
.icon{
    color: #8b8b92;
    font-size: 25px;
}



