.langague{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.p1{
    font-size: 14px;
    margin-bottom: -5px;
}
.p2{
    font-size: 12px;
    color: lightslategray;
    margin-top: 8px;
}

.lag{
    width: 100px;
    font-size: 14px;
}
.simpSelect{
    border: none;
    width: 150px;
    font-size: 12px;
}
label{
    font-size: 12px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}