.wholeWrapper{
    width: 100%;
    background-color: lightseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    text-align: left;
    width: 900px;
    color: gray !important;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: auto;
    overflow-x: auto;
}
.btnPanelWrapper{
    width: 900px;
    margin: 0 auto;
}
.p1{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: 700;
    color: black;
}
.p1 span{
    color: lightslategray !important;
    font-weight: 400 !important;
}
.buttonPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    text-align: center;   
    width: 140px; 
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font-size: 14px;
    margin-top: 10px;
}
.reddot{
    color: red;
    margin-bottom: -20px;
}

@media only screen and (max-width: 960px){
    .wholeWrapper{
        width: 100%;
        background-color: lightseagreen;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        text-align: left;
        width: 100%;
        max-width: 500px;
        color: gray !important;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: auto;
    }
    .btnPanelWrapper{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        overflow-x: scroll;
    }
    .buttonPanel{   
        width: 100px; 
    }
    .name{
        font-size: 11px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 500px){
    .wholeWrapper{
        width: 100%;
        background-color: lightseagreen;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        text-align: left;
        width: 100%;
        max-width: 320px;
        color: gray !important;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: auto;
    }
    .btnPanelWrapper{
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        overflow-x: scroll;
    }
    .buttonPanel{   
        width: 100px; 
    }
    .name{
        font-size: 11px;
        margin-top: 10px;
    }
}