.wholeWrapper{
    width: 100%;
    background-color: lightseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    text-align: left;
    width: 900px;
    color: gray !important;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: auto;
  
}
.btnPanelWrapper{
    width: 900px;
    margin-bottom: 30px !important;
    overflow-x: scroll;
    
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 50px;
    width: 0px !important;
    
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
  }
.p1{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-weight: 700;
    color: black;
}
.p1 span{
    color: lightslategray !important;
    font-weight: 400 !important;
}
.buttonPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    text-align: center;   
    width: 155px;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.reddot{
    color: red;
    margin-bottom: -20px;
}

@media only screen and (max-width: 900px){
    .wholeWrapper{
        width: 100%;
        background-color: lightseagreen;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        text-align: left;
        max-width: 600px;
        color: gray !important;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        height: auto;
    }
    .btnPanelWrapper{
        max-width: 600px;
        margin-bottom: 30px !important;
        overflow-x: scroll;
    }
    .buttonPanel{   
        width: 120px;
    }
    .name{
        font-size: 11px;
        margin-top: 10px;
    }
}
