*{
    padding: 0px;
    margin: 0px;
   box-sizing: border-box;
}
.oneMore{
    background-color: #eeeeee;
    width: 100%;
    height: 100vh;
}
.double{ 
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
}
.arrayWrapper{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}


.hhh{
  font-size: 30px;
  font-weight: bold;
  color: #208b72;
  margin-bottom: 20px;
}

.secWrapper{
    max-width: 100%;
    width: 280px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 5px;
    margin: 5px;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -10px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    color: #208b72;
    margin-bottom: -8px;
}
.discrip{
    margin-bottom: -8px;
    font-size: 13px;
    margin-top: -8px;
}
.btn{
    width: 23px;
    height: 23px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #007bff;
    font-weight: 500;
    color: white;
}
.add{
    color: whitesmoke !important;
    font-weight: 500;
    font-size: 10px;
}


@media only screen and (max-width: 900px){
  
     .hhh{
       font-size: 25px;
       font-weight: 500;
       color: #208b72;
     }
     
     .secWrapper{
         width: 200px;
         height: 200px;
     }
     .img{
         width: 50px;
         height: 50px;
         border-radius: 50%;
         margin-bottom: -10px;
     }
     .name{
         font-size: 13px;
         font-weight: bold;
         color: #208b72;
         margin-bottom: -8px;
     }
     .discrip{
         margin-bottom: -8px;
         font-size: 10px;
         margin-top: -8px;
     }
 }

 @media only screen and (max-width: 680px){
    .hhh{
        font-size: 20px;
        font-weight: 500;
        color: #208b72;
      }
      
      .secWrapper{
          width: 150px;
          height: 200px;
          padding: 0px 10px;
      }
      .img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-bottom: -10px;
      }
      .name{
          font-size: 11px;
          font-weight: bold;
          color: #208b72;
          margin-bottom: -8px;
      }
      .discrip{
          margin-bottom: -8px;
          font-size: 10px;
          margin-top: -8px;
      }
  }
    
 @media only screen and (max-width: 480px){
    .hhh{
        font-size: 18px;
        font-weight: 500;
        color: #208b72;
      }
      
      .secWrapper{
          width: 100px;
          height: 250px;
          padding: 0px 5px;
      }
      .img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-bottom: -10px;
      }
      .name{
          font-size: 11px;
          font-weight: bold;
          color: #208b72;
          margin-bottom: -8px;
      }
      .discrip{
          margin-bottom: -8px;
          font-size: 10px;
          margin-top: -8px;
      }
  }

  @media only screen and (max-width: 320px){
    .hhh{
        font-size: 12px;
        font-weight: 500;
        color: #208b72;
        margin:  0 auto;
      }
      .oneMore{
        background-color: #eeeeee;
        width: 100%;
        height: 100%;  
        text-align: center;
    }
      .double{ 
        width: 100%;
        background-color:  #eeeeee;
        padding: 20px;;
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
         transform: translate(0%, 0%);
    }
      .arrayWrapper{   
        width: 100%;
        margin:10px auto 0px auto;
        text-align: center;
       display: block;
       background-color: #eeeeee;
    }
      .wrapper{
          margin: 0 auto;
          display: flex;
          justify-content: center;
      }
      .secWrapper{
          width: 100px;
          height: 250px;
          padding: 0px 5px;
          text-align: center;
      }
      .img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-bottom: -10px;
      }
      .name{
          font-size: 11px;
          font-weight: bold;
          color: #208b72;
          margin-bottom: -8px;
      }
      .discrip{
          margin-bottom: -8px;
          font-size: 10px;
          margin-top: -8px;
      }
  }
 
