
.container{
    padding: 20px;
    text-align: left;
}
.main{
    display: flex;
}
.arrow{
    font-size: 20px;
    color: white !important;
    border: none;
    background-color: transparent;
}
/*---above container----*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.double{
    width: 90vw !important;
    margin-left: -75%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.designwrapper{
display: flex;
background-color: white;
width: 900px;
height: 800px;
border-radius: 15px;
}
.issue{
    position: absolute;
    background-color: transparent!important;
    border: none;
    font-size: 30px;
    right: -170px;
    top: 7px;
}
.modaal{
    margin:0 auto;
    position: relative=;
}input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.mainPic{
    height: 760px;
    margin: 20px;
    width: 450px;
}

/*----*/
.sec2{
    padding: 20px 10px 20px 0px;
}
.sec2Div1{
    display: flex;
}
.sec2Div1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}
.profilename{
    font-weight: 600;
}
.instaIcon{
    font-size: 20px;
    color: rgb(88, 87, 87);
}
.accountId{
    margin-top: -15px;
    font-size: 14px;
    color: rgb(88, 87, 87);
}

/*---*/

.reactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    border-bottom: 1px solid lightgray;
    margin-right: 20px;
}
.reactions div{
    margin: 9px;
    text-align: center;
}
.p1{
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    color: rgb(88, 87, 87);
}
.p2{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
}

/*---*/
.description{
    margin: 20px 20px 20px 0px;
    border-bottom: 1px solid lightgray;
}
.descriptionTitle{
    font-weight: 600;
    margin-bottom: 8px;
}
.descriptionContent{
    font-size: 16px;
    color: rgb(29, 28, 28);
}
.last div{
    margin: 15px 0px;
}


@media only screen and (max-width: 1250px){
    .double{
        width: 80vw !important;
        margin-left: -45%;
    }
    .designwrapper{
    display: flex;
    background-color: white;
    width: 900px;
    height: 800px;
    border-radius: 15px;
    }
  
    .mainPic{
        height: 760px;
        width: 450px;
    }
}
@media only screen and (max-width: 950px){
    .double{
        width: 90vw !important;
        margin-left: -35%;
    }
    .designwrapper{
    display: flex;
    background-color: white;
    width: 840px;
    height: 800px;
    border-radius: 15px;
    }
  
    .mainPic{
        height: 760px;
        width: 390px;
        margin: 10px;
    }
    .sec2{
        padding: 20px 0px 10px 0px;
    }
}

@media only screen and (max-width: 800px){
    .double{
        width: 90vw !important;
        margin-left: -20%;
    }
    .designwrapper{
    display: flex;
    background-color: white;
    width: 600px;
    height: 800px;
    border-radius: 15px;
    }
  
    .mainPic{
        height: 760px;
        width: 290px;
        margin: 10px;
    }
    .sec2{
        padding: 20px 20px 0px 0px;
    }
    .description{
        margin: 20px 0px 20px 0px;
        border-bottom: 1px solid lightgray;
    }
    .reactions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        border-bottom: 1px solid lightgray;
        margin-right: 0px;
    }
    .reactions div{
        margin: 0px;
        text-align: center;
    }
    .issue{
        right: 0px;
    }
}
@media only screen and (max-width: 768px){
    .double{
        width: 90vw !important;
        margin-left: -15%;
    }
    .designwrapper{
    display: flex;
    background-color: white;
    width: 600px;
    height: 800px;
    border-radius: 15px;
    }
  
    .mainPic{
        height: 760px;
        width: 290px;
        margin: 10px;
    }
    .sec2{
        padding: 20px 20px 0px 0px;
    }
    .description{
        margin: 20px 0px 20px 0px;
        border-bottom: 1px solid lightgray;
    }
    .reactions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        border-bottom: 1px solid lightgray;
        margin-right: 0px;
    }
    .reactions div{
        margin: 0px;
        text-align: center;
    }
    .issue{
        right: -30px;
    }
}