
.container{
    padding: 30px;
    text-align: left;
}
.arrow{
    font-size: 20px;
    color: rgb(255, 255, 255) !important;
    border: none;
    background-color: transparent;
}
/*---above container----*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.double{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
width: 100%;
}
.designwrapper{
display: flex;
background-color: white;
border-radius: 15px;
width: 90%;
height: 650px;
margin: 30px auto 30px auto;
}
.issue{
    background-color: transparent!important;
    border: none;
    font-size: 30px;
    margin-top: -10px;
    margin-right: 10px;
}
.modaal{
    margin:  0px auto 50px auto;
    overflow: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
}input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.sec1{
    width: 100%;
    padding: 20px;
}
.mainPic{
    width: 100%;
    height: 610px;
}

/*----*/
.sec2{
    width: 100%;
    padding: 20px 20px 20px 0px;
}
.sec2div1Top{
    display: flex;
}
.sec2Div1{
    display: flex;
    justify-content: space-between;
}
.sec2Div1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}
.profilename{
    font-weight: 600;
    position: relative;
    top: -5px;
}
.instaIcon{
    font-size: 20px;
    color: rgb(88, 87, 87);
}
.accountId{
    margin-top: -1px;
    font-size: 14px;
    color: rgb(88, 87, 87);
}

/*---*/

.reactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 1px solid lightgray;
}
.reactions div{
    margin: 10px 0px;
    text-align: center;
}
.p1{
    font-size: 12px;
    font-weight: 500;
    margin-top: -5px;
    color: rgb(88, 87, 87);
}
.p2{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 8px;
}

/*---*/
.description{
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid lightgray;
}
.descriptionTitle{
    font-weight: 600;
    margin-bottom: 8px;
}
.descriptionContent{
    font-size: 13px;
    font-weight: 400;
    color: rgb(29, 28, 28);
    margin-bottom: 10px;
}
.last div{
    margin: 15px 0px;
}



@media only screen and (max-width: 1050px){
    .double{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        width: 100%;
        }
        .designwrapper{
            width: 90%;
            height: 650px;
            margin: 70px auto 30px auto;
            }
            .mainPic{
                width: 100%;
                height: 610px;
            }
        .issue{
            background-color: transparent!important;
            border: none;
            font-size: 30px;
            margin-top: -10px;
            margin-right: 10px;
        }
        .modaal{
            margin:  0px auto 50px auto;
        }input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            outline: none;
        }
        
      .sec1{
          padding: 20px;
      }
        /*----*/
        .sec2{
            padding: 20px 20px 20px 0px;
        }
       
        .p1{
            font-size: 10px;
            font-weight: 400;
            margin-top: -5px;
            color: rgb(88, 87, 87);
        }
        .p2{
            font-weight: 700;
            font-size: 10px;
            margin-bottom: 8px;
        }
        
        /*---*/
        .description{
            margin: 5px 0px 5px 0px;
            border-bottom: 1px solid lightgray;
        }
        .descriptionTitle{
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 4px;
        }
        .descriptionContent{
            font-size: 13px;
            font-weight: 400;
            color: rgb(29, 28, 28);
        }
        .last div{
            margin: 10px 0px;
        }
        .sec2Div1 img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 7px;
        }
        .profilename{
            font-weight: 600;
            font-size: 12px;
        }
        .instaIcon{
            font-size: 14px;
            color: rgb(88, 87, 87);
        }
        .accountId{
            margin-top: -1px;
            font-size: 13px;
            color: rgb(88, 87, 87);
        }
}


@media only screen and (max-width: 800px){
    .double{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        width: 100%;
        }
        .designwrapper{
            width: 90%;
            height: 650px;
            margin: 70px auto 30px auto;
            }
            .mainPic{
                width: 100%;
                height: 610px;
            }
        .issue{
            background-color: transparent!important;
            border: none;
            font-size: 30px;
            margin-top: -10px;
            margin-right: 10px;
        }
        .modaal{
            margin:  0px auto 50px auto;
        }input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            outline: none;
        }
       .sec1{
           padding: 20px;
       }
        
        /*----*/
        .sec2{
            padding: 20px 20px 20px 0px;
        }
        .reactions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0px;
            border-bottom: 1px solid lightgray;
        }
        .reactions div{
            margin: 10px 0px;
            text-align: center;
        }
        .p1{
            font-size: 10px;
            font-weight: 400;
            margin-top: -5px;
            color: rgb(88, 87, 87);
        }
        .p2{
            font-weight: 700;
            font-size: 10px;
            margin-bottom: 8px;
        }
        
        /*---*/
        .description{
            margin: 5px 0px 5px 0px;
            border-bottom: 1px solid lightgray;
        }
        .descriptionTitle{
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 4px;
        }
        .descriptionContent{
            font-size: 14px;
            font-weight: 400;
            color: rgb(29, 28, 28);
        }
        .last div{
            margin: 10px 0px;
        }
        .sec2{
            padding: 20px 20px 10px 0px;
        }
       
        .p1{
            font-size: 10px;
            font-weight: 400;
            margin-top: -5px;
            color: rgb(88, 87, 87);
        }
        .p2{
            font-weight: 700;
            font-size: 10px;
            margin-bottom: 8px;
        }
        
        /*---*/
        .description{
            margin: 5px 0px 5px 0px;
            border-bottom: 1px solid lightgray;
        }
        .descriptionTitle{
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 4px;
        }
        .descriptionContent{
            font-size: 10px;
            font-weight: 400;
            color: rgb(29, 28, 28);
        }
        .last div{
            margin: 10px 0px;
        }
        .sec2Div1 img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 7px;
        }
        .profilename{
            font-weight: 600;
            font-size: 12px;
        }
        .instaIcon{
            font-size: 14px;
            color: rgb(88, 87, 87);
        }
        .accountId{
            margin-top: -1px;
            font-size: 13px;
            color: rgb(88, 87, 87);
        }
}
  
@media only screen and (max-width: 660px){
    .designwrapper{
        width: 90%;
        height: 650px;
        margin: 70px auto 30px auto;
        }
        .mainPic{
            width: 100%;
            height: 630px;
        }
    .double{
        padding: 0px 10px;
        }
        .issue{
            margin-right: 0px;
        }
       .sec1{
           padding: 10px;
       }
        
        /*----*/
        .sec2{
            padding: 20px 20px 20px 0px;
        }
       
        .p1{
            font-size: 10px;
            font-weight: 400;
            margin-top: -5px;
            color: rgb(88, 87, 87);
        }
        .p2{
            font-weight: 700;
            font-size: 10px;
            margin-bottom: 8px;
        }
        
        /*---*/
        .description{
            margin: 5px 0px 5px 0px;
            border-bottom: 1px solid lightgray;
        }
        .descriptionTitle{
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 4px;
        }
        .descriptionContent{
            font-size: 14px;
            font-weight: 400;
            color: rgb(29, 28, 28);
        }
        .last div{
            margin: 10px 0px;
        }
        .sec2Div1 img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 7px;
        }
        .profilename{
            font-weight: 600;
            font-size: 12px;
        }
        .instaIcon{
            font-size: 14px;
            color: rgb(88, 87, 87);
        }
        .accountId{
            margin-top: -1px;
            font-size: 13px;
            color: rgb(88, 87, 87);
        }
        .reactions div{
            margin: 10px 0px;
            text-align: center;
        }
       
}
  