.wrapper{
    margin: 30px auto;
    width: 500px;
    text-align: left;
    background-color: lavender;
    padding: 50px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.divOne{
    margin: 0px auto 15px auto;
}
.divTwo{
    margin: 0px auto;
}
.labelEmail{
    font-weight: 600;
    margin: 7px auto;
}
.inputEmail{
    border: none;
    padding: 12px 12px 12px 52px ;
    max-width: 100%;
    width: 370px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
.inputPassword{
    border: none;
    padding: 14px 200px 14px 14px;
    max-width: 100%;
    width: 370px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
.labelPassword{
    font-weight: 600;
    margin: 20px auto 7px auto;
}
.icon{
    position: absolute;
    margin-left: -50px;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(172, 170, 170);
}
.Lefticon{
    position: absolute;
    margin-left: -350px;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(172, 170, 170);
}