*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wholeWrapper{
    background-color: #b5c6f0;
    margin: 0 auto;
    
}
.containerWrapper{ 
    width: 100%;
    height: 100vh;
    padding: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.abstractWrapper{
 text-align: left;
width: 100%;
}
.abstarctDiv1{
    max-width: 100%;
    width: 220px;
}
.abstarctImg{
    width: 250px;
    height: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*--div-one--*/


.abstarctDiv2{
    max-width: 100%;
    width: 250px;
    height: auto;
    padding: 20px 10px 5px 10px;
    background-color: white;
}
.name{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: sans-serif;
}
.adress{
    color: rgb(116, 106, 106);
    font-size: 15px;
    font-weight: 500;
}

/*--div2--*/

.abstarctDiv3{
    max-width: 100%;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 10px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}
.icon1{
    font-size: 25px;
    margin-right: 5px;
}
.follower{
    font-size: 20px;
    color: gray;
    border-right: 2px solid lightgray ;
    padding-right: 30px;
}
.icon2{
    font-size: 25px;
    margin-right: 5px;
    font-weight: 500;
}
.action{
    font-size: 18px;
    font-weight: 800px;
    color: rgb(9, 170, 116);
}
/*--abstarct componenet portion end--*/

.containDiv1{
    position: relative;
    margin: 10px 10px;
}
.dpDiv{
    position: absolute;
    top: 15px;
    left: 90px;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:-1;
}
.dpDiv button{
    width: 25px;
    padding-bottom: 7px;
    height: 25px;
    font-weight: 700;
    border-radius: 50%;
    border: none;
}
.dpDiv:hover{
    opacity: 1;
}
.containDiv1:hover{
    opacity: 1;
}
/*--card one hover effet--*/

.containDiv2{ 
    position: relative;
    margin: 10px 10px;
}
.containDiv3{
    position: relative;
    margin: 10px 10px;
}

