*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wholeWrapper{
    background-color: #e1e7f5;
}
.containerWrapper{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 50px;
}
.abstractWrapper{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    
}
.abstarctDiv1{
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.abstarctImg{
    width: 100%;
    max-width: 350px;
    height: 350px;
    max-height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*--div-one--*/


.abstarctDiv2{
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 20px 10px;
    background-color: white;
}
.name{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
.adress{
    color: rgb(126, 126, 126);
    font-size: 15px;
}

/*--div2--*/

.abstarctDiv3{
    width: 100%;
    max-width: 350px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 15px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}
.icon1{
    font-size: 25px;
    margin-right: 5px;
}
.follower{
    font-size: 16px;
    color: gray;
}
.icon2{
    font-size: 25px;
    margin-right: 5px;
    font-weight: 700;
}
.action{
    font-size: 18px;
    font-weight: 500px;
    color: rgb(9, 170, 116);
}
/*--abstarct componenet portion end--*/

.containDiv1{
    width: 100%; 
    max-width: 350px;
    height: auto; 
    position: relative;
    margin: 0px 10px;
}
.dpDiv{
    position: absolute;
    right: -140px;
    top: 20px;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:-1;
}
.dpDiv button{
    width: 25px;
    height: 25px;
    font-weight: 700;
    border-radius: 50%;
    border: none;
}
.dpDiv:hover{
    opacity: 1;
}
.containDiv1:hover{
    opacity: 1;
}
/*--card one hover effet--*/

.containDiv2{
    width: 100%;
    max-width: 350px;
    height: auto; 
    margin: 0px 10px;
}
.containDiv3{
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0px 10px;
}

