*{
    margin: 0px;
    padding: 0px;
}


.hh{
    font-weight: 500;
}

.project{
    background-color: lightsalmon;
    position: absolute;
    left: 20%;
    top:60px;
    padding: 30px;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
}



.conatiner{
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  height: 100%;
}
.header{
    height: 60px;
    background-color: blue;
}
.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    border-right: 1px solid #d6dae2;
    width: 100%;
}
.div1{
    margin-top: 30px ;
    cursor: pointer;
}
.div2{
    margin-top: -50px;
    cursor: pointer;
    list-style: none;
    width: 100%;
   
}
.div2 li{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none !important;
    color: black;
}
.icon{
    margin-right: 10px;
    font-size: 15px;
}
.p1{
    padding-top: 5px;
}
.p2{
    padding-top: 5px;
}
.aboutDiv{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
.antoterDiv{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.subUl li{
   font-size: 14px;    
}
.home{
    display: flex;
    padding: 0px 30px;
}
.div3{
    width: 100%;
    margin-top: -30px;
}
.div3 li{
    display: flex;
    padding: 0px 30px;
    color: black;
    font-weight: 500;
    text-decoration: none !important;
}
.active{
    border-left: 5px solid red;
    display: flex;
    background-color: #f3f4f6;
}
.setting{
    margin-right: 15px;
}
.deco{
    text-decoration: none!;
}

.sidebarsub_deco__3NZSb {
    text-decoration: none;
    color: black;
}