*{
    padding: 0px;
    margin: 0px;
    text-decoration: none!important;
}
.calendar{
    border: none !important;
   margin: 20px auto;
   font-size: 14px;
   font-family: sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.modii{
    margin: 20px auto 0px auto;
}
.issue{
    position: absolute;
    background-color: transparent!important;
    border: none;
    font-size: 30px;
    right: 20px;
    top: 10px;
}
.openbtn{
    margin: 3px;
    border: none;
    background-color: rgb(58, 83, 228);
    color: white;
    padding: 2px 7px;
    border-radius: 7px;
    font-weight: 500;
}

.okbtn{ 
    width: 100%;
    height: 40px;
    border:  none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}
.sec1{
    text-align: center;
    padding: 30px 0px 10px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 60px;
    margin-bottom: 10px !important;
}
.sec2{
    padding: 25px 25px;
 }
 .sec1 p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    text-align: left;
    margin-left: -30px !important;
    margin-top: -10px;
}