
.react-calendar__tile--active {
    background-color: #000000 !important;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
  }
  .react-calendar__month-view__days__day--weekend {
    color: gray;
  }
  .react-calendar__month-view__weekdays__weekday {
    font-size: 14px;
    font-weight: 550 !important;
    color: rgb(190, 189, 189);
    border-top: 1px solid lightgray;
    padding-top: 15px;
    margin-top: 7px;
}

.modal-content{
  border-radius: 15px !important;
  border: none !important;
}
.react-calendar__tile--now {
  background: #ffff76;
  border-radius: 50%;
  width: 35px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
}
.react-calendar__tile:enabled:focus {
    border-radius: 50%;
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
}
.react-calendar__tile:enabled:hover{
  border-radius: 50%;
  width: 35px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}