*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.left{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
.h3{
    font-size: 20px;
    font-weight: 700;
    
}
.left-div-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-div-1 button{
    background-color: transparent;
    border: none;
    color: gray;
}
.left-div-2{
    text-align: left;
    margin: 20px auto 0px auto;
}
.left-div-2-sub{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.iconc{
    margin-right: 20px;
    font-size: 30px;
    color:#abacb4 !important;
}
.iconccc{
    margin-right: 20px;
    font-size: 30px;
    color:#abacb4 !important;
}
.h4{
    font-size: 20px;
    font-weight: 500;
}
.gray{
    font-size: 18px;
    margin-bottom: 5px;
}
.fa-map-marker{
    margin-right: 30px !important;
}
.befor-edit-c{
   background-color: transparent;
}

/*--below-about after-click--*/

.sm{
    max-width: 94px;
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
}
.larg{
    width: 300px;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 600;
    color: black !important;
}
.select{
    width: 97px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-left: 5px;
    border-radius: 5px;
}
.save{
    color:  white !important;
    font-size: 14px !important;
    padding: 9px;
    border: none;
    border-radius: 30px;
    background-color: black !important;
} 



@media only screen and (max-width: 600px){
    .sm{
        width: 80px;
        padding: 10px;
        margin-top: 5px;
        border: none;
    }
    .larg{
        width: 250px;
        padding: 10px;
        border: none;
    }
}
@media only screen and (max-width: 400px){
    .sm{
        max-width: 63px;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: none;
    }
    .larg{
        max-width: 200px;
        width: 100%;
        padding: 10px;
        border: none;
    }
}