*{
    padding: 0px;
    margin: 0px;
}
.left{
    
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
.left-div-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-div-1 button{
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: gray;
}
.left-div-2{
    text-align: left;
    margin: 20px auto 0px auto;
}
.left-div-2-sub{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.left-div-2-sub i{
    margin-right: 30px;
    font-size: 30px;
    color: rgb(209, 202, 202);
}
.fa-map-marker{
    margin-right: 40px !important;
}

/*--below-about after-click--*/

.sm{
    width: 97px;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
}
.larg{
    width: 300px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
    color: black !important;
}
.select{
    width: 97px;
    padding: 10px;
    border: 1px solid lightgray;
    margin-left: 5px;
    border-radius: 5px;
}
.save{
    background-color: black !important;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 200 !important;
    color: white !important;
} 
#aftr-input{
    margin-bottom: 20px;
}
::placeholder{
    color: black;
}

@media only screen and (max-width: 600px){
    .sm{
        width: 80px;
        padding: 10px;
        margin: 5px auto;
        border: none;
    }
    .larg{
        width: 250px;
        padding: 10px;
        border: none;
    }
}
@media only screen and (max-width: 400px){
    .sm{
        max-width: 63px;
        width: 100%;
        padding: 10px;
        margin: 5px auto;
        border: none;
    }
    .larg{
        max-width: 200px;
        width: 100%;
        padding: 10px;
        border: none;
    }
}