input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.modii{
    margin: 20px auto 0px auto;
}input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.modalWrapper{
    background-color: rgb(77, 29, 29);
    position: fixed;
    width: 100%;
    height: 100vh;
}
.modii{
    margin: 20px auto 0px auto;
    outline: none !important;
}
.issue{
    position: absolute;
    background-color: transparent!important;
    border: none;
    font-size: 30px;
    right: 20px;
    top: 10px;
}

.openbtn{
    margin: 3px;
    border: none;
    background-color: rgb(200, 255, 0);
    color: rgb(8, 8, 8);
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 7px;
}
.closebtn{
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-weight: lighter;
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.name{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}
.sec1{
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid lightgray;
    margin-top: 40px;
}
.sec2{
    padding: 25px;
    text-align: center;
 }
 .sec2 p{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
 }
 .RatingStars{
     display: flex;
     justify-content: center;
     margin-bottom: 30px;
 }
 .donebtn{
    width: 100%;
    height: 40px;
    border:  none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
 }