input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.modalWrapper{
    background-color: gray;
    position: fixed;
    width: 100%;
    height: 100vh;
}
.modal{
    width: 350px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    margin-top: 15px;
    position: relative;
    border-radius: 15px;
}
.openbtn{
    margin: 3px;
    border: none;
    background-color: orangered;
    color: white;
    padding: 2px 7px;
    border-radius: 7px;
}
.closebtn{
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-weight: lighter;
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.sec1{
    text-align: center;
    padding: 30px 30px 10px 30px;
    border-bottom: 1px solid lightgray;
}
.sec1 h5{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;

}
.sec1 p{
    font-size: 16px;
    color: gray;
    margin-bottom: 8px;
}

/*--sec1--*/

.sec2{
   padding: 25px;
}
.sec2header{
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}
.labelcover{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.labelcover p{
    font-weight: 500;
}
.sendbtn{
    
    width: 100%;
    height: 40px;
    border:  none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}
.circle{
    border: 2px solid black !important;
    width: 25px;
    height: 25px;
    background-color: black !important;
}

.circle:checked:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 10px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 500px){
    .modal{
        max-width: 300px;
        margin-top: 40px;
    }
    .sendbtn{   
        height: 40px;
        font-size: 16px;
    }
}