*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.head{
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;

}
.p{
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color:#757302;
    margin: 40px 0px;
}
button:focus {
    outline: none;
}
.btn{
    background-color: #838104;
    color: white;
    font-weight: 500;
    font-size: 27px;
    border-radius: 18px;
    width: 460px;
    height: 67px;
    max-width: 100%;
    border: none;
}

@media only screen and (max-width: 480px){
    .head{
        font-size: 25px;
        font-weight: 500;
        line-height: 36px;
    
    }
    .btn{
        background-color: #838104;
        color: white;
        font-weight: 500;
        font-size: 15px;
        border-radius: 15px;
        width: 220px;
        height: 60px;
        max-width: 100%;
        border: none;
    }
}