*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.head{
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;

}
.p{
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#5e5c01;
    margin: 20px 0px;
}
button:focus {
    outline: none;
}
.btn{
    background-color: #666404;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    width: 270px;
    max-width: 100%;
    border: none;
}

@media only screen and (max-width: 320px){
    .head{
        font-size: 25px;
        font-weight: 500;
        line-height: 36px;
    
    }
    .btn{
        background-color: #777600;
        color: white;
        font-weight: 500;
        border-radius: 5px;
        padding: 4px;
        width: 220px;
        max-width: 100%;
        border: none;
    }
}