.containerWrapper{
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
    height: 100%;
}

.header{
    height: 60px;
    background-color: crimson;
    text-align: left;
    padding: 0px 20px;
}
.main{
    background-color: rgb(255, 255, 255);
    height: calc(100% - 60px);
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.productdiv1{
    text-align: left;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}
.productdiv1 p{
    font-size: 14px;
}
.productAddbtn{
    width: 100px;
    height: 30px;
    border:  none;
    font-weight: 500;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 7px 2px rgb(102, 101, 101);
}
.ss{
    padding-bottom: 20px;
}
.basket{
    background-color: wheat;
    height: 100%;
    padding: 20px;
}
.bAdd{
   padding: 2px 7px;
   border: none;
   background-color: gold;
   font-weight: 700;
}
.bRemove{
    padding: 2px 7px;
    border: none;
    background-color: rgb(255, 0, 0);
    font-weight: 700;
 }
 .bSpan{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white !important;
    padding: 2px 7px;
    border-radius: 10px;
 }

 .topHeader{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 20px;
     background-color: tomato;
     height: 40px;
 }
 .topDiv1{
     display: flex;
     padding-top: 5px;
 }
 .topDiv1 p{
     font-size: 14px;
     margin-right: 5px;
 }
 .topDiv1 img{
     width: 30px;
     height: 30px;
     border-radius: 50%;
 }