*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    margin: 50px auto;
}
.wrapper section{
    margin: 100px auto;
    max-width: 400px;
    width: 100%;
}



/* Slider.css */

.slider {
    margin: 0 auto;
    width: 300px;
  }

  .input-range__track--active,
  .input-range__slider {
      background: rgb(0, 0, 0) !important;
      border-color: rgb(0, 0, 0) !important;
  } 
  .label{
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
  }
  
  .wholeWraper{
    padding: 50px;
    background-color: rgb(198, 199, 201);
}
.buttonWrapper{
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 200px;
      padding: 20px 10px;
      border-radius: 20px;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
}
.usersIcon{
    background-color: #e9e9e9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:  none;
}
.div2{
    margin-left: 10px;
}
.p1{
    margin-bottom: -8px;
    font-size: 18px;
    font-weight: 500;
}
.p2{
  margin-top: 8px;
  color: rgb(92, 90, 90);
  font-weight: 500;
}
button:focus {
    outline: none;
}