.wrapper{
    margin: 0 auto;
}
.wrapper section{
    margin: 100px auto;
    max-width: 400px;
    width: 100%;
}



/* Slider.css */

.slider {
    margin: 0 auto;
    width: 300px;
  }

  .input-range__track--active,
  .input-range__slider {
      background: rgb(0, 0, 0) !important;
      border-color: rgb(0, 0, 0) !important;
  } 
  
  
  

  