*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.wrapper{
    background-color: lavender;
    width: 100%;
    height: 800px;
   padding: 50px;
}

.original{
    margin: 0px auto 30px auto;
    text-align: left;
    width: 450px;
}
.flabel{
  font-weight: 700;
  font-size: 18px;
}
.inputWithIcon input{
    width: 450px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.fa-angle-down{
    position: absolute;
     margin-left: -30px;
     margin-top: 20px;
     background-color: transparent;
     font-size: 22px;
     font-weight: 600;
}

/*--input-bar--*/
fieldset{
    border-radius: 5px;
}
.label{
    color: gray;
    padding: 10px;
   display: flex; 
   align-items: center;
   justify-content: space-between;
   border: none;
   border-bottom: 1px solid lightgray !important;
   background-color: white !important;
}

.label:hover{
    color:black;
}
.dropdown-div p{
 font-size: 14px;
}
.circle{
    border: 0px;
    width: 20px;
    height: 20px;
    background-color: black !important;
}

.circle:checked:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #000000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}
/*--below-fixed--*/

.basic-multi-select{
    width: 350px;
    margin: 20px auto ;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

/*--below-access--*/

.access{
    width: 370px;
    margin: 20px auto;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0px 10px 5px;
}


/*--below react-select--*/

.react-select{
    width: 350px;
    margin: 20px auto ;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

/*---below-multi-color-select---*/

.multi-color-select{
    width: 350px;
    margin: 20px auto;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    border-radius: 120px;
}

/*--below-custom--*/

.custom{
    width: 350px;
    margin: 20px auto;
    text-align: left;
    color: brown;
    font-weight: 700;
}

/*--below about menu first--*/
.Menu{
    float: left;
    padding: 30px;
}
.menu{
    height: 250px;
}
.fa-bars{
    background-color: white;
    border: none;
    font-size: 58px;
}
.btn{
    border: none;
}

/*--flag---tuesday work--*/

.flag-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.countries{
    width: 350px;
    margin: 20px auto;
    text-align: left;
    font-weight: 700;
}


/*--below-icon-droper--*/


.icon-resize{
    width: 30px;
}
.icoSelector{
    width: 130px;
    margin: 20px auto;
}

.aaj{
    padding: 30px;
    background-color: lavender;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
} 
@media only screen and (max-width: 800px) {
    .aaj{
        grid-template-columns: 100%;
    } 
    .divvv{
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1400px){
    .aaj{
        grid-template-columns: 1fr 1fr;
    }
    .divvv{
        margin-bottom: 20px;
    }
}