.HomeScreenOneContainer{
    width: 400px;
    background-color: orangered;
    margin: 20px auto;
    height: 100vh;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 30px;

}
.bottom{
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
.bottom img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid white;
    position: relative;
    margin-top: 15px;
}
.sub{
    text-align: left;
    top: 10px;
    position: relative;
}
.p1{
    font-size: 25px;
    font-weight: 500;
    opacity: 1;
    color: #ffffff;
    margin-bottom: -5px;
}
.p2{
    font-size: 18px;
    font-weight: lighter !important;
    opacity: 1;
    color: #bbbbbb;
}

.iconbtn{
    border:  none;
     background-color: transparent;
     color:  white;
     font-size: 30px;
     line-height: 35px;
     font-weight: lighter;
     cursor: pointer;
}