.structure{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
}
.home{
    position: absolute;
    left: 20%;
    background-color: brown;
    top: 60px;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    text-align: center;
}
.about{
    position: absolute;
    left: 20%;
    top: 60px;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    text-align: center;
}
.contact{
    position: absolute;
    left: 20%;
    top: 60px;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    text-align: center;
}
.topLink{
    text-decoration: none !important;
}

/*---header navs---*/

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, rgb(233, 88, 88) , yellow);
    padding: 0px 30px;
    height: 60px;
}
.headerUl{
    display: flex;
    justify-content: space-between;   
    list-style: none;
}
.headerUl li {
    margin: 0px 50px;
    padding-top: 5px;
    color: black;
    font-weight: 500;
}

/*---header--*/

.SideNavWrapper{
    padding: 15px 15px 15px 15px;
    text-align: left;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    
}
.sideNavDiv1{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.p1{
    color: rgb(95, 132, 233);
    font-size: 24px;
    margin-right: 15px;
}

.SideNavUl{
    list-style: none;
}
.SideNavUl li{
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
   
}
.SideNavUl li span{
    margin-right: 12px;
    font-size: 20px !important;
}
.link{
    text-decoration: none !important;
    font-size: 18px;
    color: white;
}
 .active{
    color:Black ;
    font-weight:bold;
}
.aactive{
    background-color: white;
    color: black !important;
    padding: 8px 80px 8px 4px;
    margin-left: -4px;
    border-radius: 3px;
}

.upgradeDiv{
    background-color: white;
    height: 40px;
    width: 100%;
    max-width: 200px;
    margin-left: -5px;
    border-radius: 3px;
    color: rgb(75, 66, 66);
    padding-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
   
}
.upgrade{
    margin-top: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: black !important;
}
.lastSpan{
  margin-right: 10px;
  font-size: 20px;
}
.dashboard{
    background-color: white;
    height: 40px;
    width: 100%;
    max-width: 200px;
    margin-left: -5px;
    border-radius: 3px;
    color: rgb(58, 48, 48);
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.linkk{
    color: rgb(53, 46, 46);
    font-size: 18px;
    text-decoration: none !important;
}


/*---sideNav--*/


.profile{
    position: absolute;
    left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    justify-content: center;
    background-color: blueviolet;
}

.table{
    position: absolute;
    left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    justify-content: center;
    background-color: yellow;
}
.typo{
      position: absolute;
      left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    justify-content: center;

    background-color: teal;
}
.icon{
     position: absolute;
     left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    justify-content: center;
    background-color: rgb(52, 92, 202);
}
.maps{
       position: absolute;
       left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    justify-content: center;
    background-color: rgb(233, 88, 88);
}
.notifications{
      position: absolute;
      left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    justify-content: center;
    background-color: red;
}
.support{
   position: absolute;
   left: 20%;
    top: 60px;
    padding: 30px;
    display: flex;
    height: auto;
    width: calc(100% - 20%);
    height: calc(100% - 60px);
    background-color: green;
    justify-content: center;
}


/*--content-pages---*/
@media only screen and (max-width: 768px){
    .aactive{
        background-color: white;
        color: black !important;
        padding: 8px 60px 8px 4px;
        margin-left: -4px;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 768px){
    .aactive{
        background-color: white;
        color: black !important;
        padding: 8px 55px 8px 4px;
        margin-left: -4px;
        border-radius: 3px;
    }
    .header{
        padding: 0px 20px;

    }
    .headerUl li {
        margin: 0px 20px;
    }
    .upgradeDiv{
        max-width: 170px;
    }
    .upgrade{
        margin-top: 0px;
        font-size: 12px;
    }
    .lastSpan{
        margin-right: 5px;
        font-size: 15px;
      }
      .dashboard{
        background-color: white;
        height: 35px;
        width: 100%;
        max-width: 170px;
    
    }
    .SideNavUl li{
        margin-bottom: 15px;
       
    }
    .SideNavUl li span{
        margin-right: 9px;
        font-size: 14px;
    }
    .link{
        text-decoration: none !important;
        font-size: 12px;
        color: white;
    }
    .structure{
        display: grid;
        grid-template-columns: 30% 70%;
    }
       
.profile{
    left: 30%;
    width: calc(100% - 30%);
}

.table{
    left: 30%;
    width: calc(100% - 30%);
}
.typo{
    left: 30%;
    width: calc(100% - 30%);
}
.icon{
    left: 30%;
    width: calc(100% - 30%);
}
.maps{
    left: 30%;
    width: calc(100% - 30%);
}
.notifications{
    left: 30%;
    width: calc(100% - 30%);
}
.support{
    left: 30%;
    width: calc(100% - 30%);
}
.home{
    left: 30%;
    width: calc(100% - 30%);
}
.about{
    left: 30%;
    width: calc(100% - 30%);
}
.contact{
    left: 30%;
    width: calc(100% - 30%);
}
}

@media only screen and (max-width: 480px){
    .header{
        padding: 0px 5px;
    
    }
    .headerUl li {
        margin: 0px 7px;
    }
    .upgradeDiv{
        max-width: 170px;
    }
    .upgrade{
        margin-top: 0px;
        font-size: 14px;
    }
    .lastSpan{
        margin-right: 5px;
        font-size: 15px;
      }
    .dashboard{
        background-color: white;
        height: 35px;
        width: 100%;
        max-width: 170px;
      
    }
    .linkk{
        font-size: 12px;
    }
    .SideNavUl li span{
        margin-right: 9px;
        font-size: 14px;
    }
    .link{
        text-decoration: none !important;
        font-size: 12px;
        color: white;
    }
    .structure{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .profile{
        left: 40%;
        width: calc(100% - 40%);
    }
    
    .table{
        left: 40%;
        width: calc(100% - 40%);
    }
    .typo{
        left: 40%;
        width: calc(100% - 40%);
    }
    .icon{
        margin-left: 40%;
        width: calc(100% - 40%);
    }
    .maps{
        left: 40%;
        width: calc(100% - 40%);
    }
    .notifications{
        margin-left: 40%;
        width: calc(100% - 40%);
    }
    .support{
        left: 40%;
        width: calc(100% - 40%);
    }
    .home{
        left: 40%;
        width: calc(100% - 40%);
    }
    .about{
        margin-left: 40%;
        width: calc(100% - 40%);
    }
    .contact{
        left: 40%;
        width: calc(100% - 40%);
    }
}


@media only screen and (max-width: 425px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, rgb(233, 88, 88) , yellow);
        padding: 0px 5px;
        height: 60px;
    }
    .headerUl{
        display: flex;
        justify-content: center;   
        list-style: none;
    }
    .headerUl li {
        margin: 0px 5px;
        font-size: 9px !important;
        padding-top: 5px;
        color: black;
        font-weight: 400;
    }
    .p2{
        font-size: 12px;
    }
    .upgradeDiv{
        max-width: 150px;
    }
    .upgrade{
        margin-top: 0px;
        font-size: 9px;
    }
    .lastSpan{
      margin-right: 5px;
      font-size: 12px;
    }
    .dashboard{
        background-color: white;
        height: 35px;
        width: 100%;
        max-width: 150px;
        font-size: 9px;
    
    }
    .linkk{
        color: rgb(53, 46, 46);
        font-size: 12px;
        text-decoration: none !important;
    }
}