.sevenMayWrapper{
    text-align: left;
    margin: 50px auto;
    width:300px;
}
.sevenMayWrapper h3{
    margin-bottom: 20px;
    font-weight: 500;
}

.div1{
    margin-bottom: 12px;
    padding-bottom: 10px;
   border-bottom: 1px solid lightgray;
}
.div2{
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.div3{
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}