*{
    padding: 0px;
    margin: 0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.round{
    position: relative;
}
.label{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}
.label:after{
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 8px;
}
.checkbox{
    visibility: hidden;
}
.checkbox:checked + label {
    background-color: black;
    border-color: black;
}
.checkbox:checked + label:after{
    opacity: 1;
}


.whole{
    background-color: lightsalmon;
    padding: 50px;
}
.wrapper{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 550px;
    margin: 0px auto;
}
.label1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div11{
    margin-right: 30px;
}
.div12{
    margin-right: 20px;
}
.div12 button{
    padding: 10px 12px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ececf0;
}

.div13{
    text-align: left;
}
.p1{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}
.p2{

    margin-top: -8px;
    color:#c0bfc3;
    font-size: 15px;
}



/*--div-1--*/



.div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div21{
    text-align: left;
}
.div22{
    margin-left: 50px;
}
.div22 button{
    border: none;
    background-color: transparent;
    color: #ababab;
    font-size: 30px;
}
.hand{
    font-size: 30px;
}