*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.wrapper{
   background-color: #abacb4;
   position: fixed;
}
.edit-btnnn{
    padding: 12px;
    width: 150px;
    background-color: teal;
    color: white;
    border: none;
    margin: 0px 5px;
}
.modal-wrapper{
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}
.modal-edit-adress-cancel-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    font-size: 15px;
}
.modal-first-div{
    text-align: center;
    border-bottom: 1px solid #cbcbcd;
    margin: 0px -30px 0px -30px;
}
.iconw{
    font-size: 40px;
    width: 60px;
    height: 60px;
    padding: 17px;
    border-radius: 50%;
    border: 2px solid black;
}
.div-1-p1{
    font-weight: 600;
    font-size: 18px;
   padding: 10px 0px;
}
.div-1-p2{
    color: #cbcbcd;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 15px;
}

/*--first-div--*/

.label-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.lable-1-div-1{
    display: flex;
    align-items: center;
}
.label-icon{
    margin-right: 20px;
    font-size: 20px;
}
.label-p1{
    font-weight: 600;
}
.label-p2{
    font-weight: 400;
    color: #cbcbcd;
    font-size: 14px;
}
#doubel-icon{
    margin-right: 0px !important;
    font-size: 20px;
    margin-left: -5px;
}
#double-icon-right{
    font-size: 15px;
    margin-right: 15px !important;
    margin-left: -5px;
}

.circle-radio{
    width: 25px;
    height: 25px;
    padding: 25px;
}
.circle-radio:checked:after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 10px solid rgb(0, 0, 0);
}
.last-label p{
    font-weight: 600;
    margin: 0px -30px 0px 0px;
    padding: 8px 0px;
    border-top: 1px solid #cbcbcd;
}
.last-label input{
    padding: 12px;
    width: 100%;
    max-width: 350px;
    margin: 5px auto 0px auto;
    display: flex;
    justify-content: center;
    border: 1px solid #cbcbcd;
    border-radius: 5px;
}
.done-btn{
    padding: 15px ;
    width: 100%;
    max-width: 350px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}


/*--modal-2--*/

.modal-2-label-1{
    font-weight: 500;
    padding-bottom: 10px;
}
.select{
    padding: 10px 5px;
    width: 100%;
    max-width: 350px;
    margin: 15px auto;
    border: 1px solid #cbcbcd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.modal-2-select{
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0px;
}

.creditcard{
    border: 1px solid black;
    margin-top: 20px;
    outline: rgb(53, 47, 48);
}
#carnm{
    margin-bottom: 110px;
}
.modal-2-submit{
    padding: 12px ;
    width: 100%;
    max-width: 350px;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
.form-2{
    margin-top: 30px;
}