.topBarWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 60px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}
.One{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.One div{
    margin-right: 20px;
}
.Two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 5px;
}
.topbarDiv2{
    margin-left: 40px !important;
}
.topbarDiv3{
    margin-left: 20px !important;
}
.topbarDiv4{
    margin-left: 20px !important;
}
.topbarDiv5{
    margin-left: 40px !important;
}
.topbarDiv6{
    margin-left: 50px !important;
}
.topbarDiv1 button{
    border: none;
    background-color: transparent;
    font-size: 30px;
}
.topbarDiv2 input{
    height: 30px;
    border: 1px solid lightseagreen;
    border-radius: 15px; 
    padding: 7px 40px 7px 15px;   
}
.multi{
    font-weight: lighter;
    font-size: 12px;
    position: absolute;
    margin-left: -25px;
    margin-top: 9px;
    
}
.topbarDiv3 button{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: rgb(177, 175, 175);
}
.topbarDiv4 button{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: rgb(177, 175, 175);
}
.topbarDiv5{
    display: flex;
   align-items: center;
   position: relative;
}
.topbarDiv5 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.topbarDiv5 p{
    font-size: 14px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 7px;
}
/*--topbar divs--*/
.notificationDiv{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 350px;
    margin-top: 10px;
    margin-left: -140px;
    box-shadow: 2px 2px 6px 5px lightgrey;
}
.same{
    border-top: 1px solid lightgray;

}

/*---notifiction div---*/

.NotiMessage{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
.NotiMessageDiv1{
    display: flex;
    text-align: left;
}
.NotiMessageDiv1 img{
    width: 30px;
    height: 30px;
    border-radius: 90%;
    margin-right: 10px;
}
.NotiMessageDiv1 p{
    font-size: 13px;
}
.time{
    font-size: 14px;
}
.teal{
    color: teal;
    font-size: 15px;
}
.noificationFooter{
    border-top: 1px solid lightgray;
    padding: 10px 10px;
}
.noificationFooter p{
    font-size: 12px;
    font-weight: 500;
    color: teal;
}
.noificationHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  10px;
    font-size: 14px;
    font-weight: 500;
}

/*--notifiMessage--*/

.accountDp{
 display: flex;
 padding: 10px;
 border-bottom: 1px solid lightgrey;
}
.accountDp span{
    margin-right: 10px;
}
.accountDp p{
    font-size: 14px;
    font-weight: 500;
}
.AccountDiv{
background-color: rgb(255, 255, 255);
position: absolute;
top: 60px;
right: 10%;
box-shadow: 2px 2px 6px 5px lightgrey;
}
/*--acount-Dropdow---*/

.largSidebarWrapper{
    position: absolute;
    top: 60px;
    left: 0;
    width: 280px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 10px 5px gray;
}
::-webkit-scrollbar {
    width: 8px; 
  }
.largUl1{
    list-style: none;
    padding: 10px 20px;
}
.largUl1 li{
    font-size: 14px;
    margin-bottom: 45px;
    margin-top: 45px;
    color: #646777;
    font-family: sans-serif;
}
.largUl1 li span{
    margin-right: 10px;
    color: grey;
}

.uiElement{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px !important;
}
.UIUL{
    list-style: none;
    padding: 20px 20px;
}
.UIUL li{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.redNew{
    color: white !important;
    background-color: red;
    padding: 0px 4px;
    border-radius: 10px;
    font-size: 14px;
}

/*--large side bar--*/

.smallbarWrapper{
    position: absolute;
    top: 60px;
    left: 0;
    width: 70px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 10px 5px gray;
}
::-webkit-scrollbar {
    width: 8px; 
  }
.smallUl{
    list-style: none;
    padding: 10px 10px;
}
.smallUl li{
    margin-bottom: 20px;
    color: gray;
}

/*--s,mll bar--*/

.flag{
    width: 20px;
}
.flagbtn{
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
}
.flagItem{
    font-size: 14px;
}