*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.topBarWrapper{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 60px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}
.container{
    width: 100%;
    height: 100%;
}
.One{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.One div{
    margin-right: 0px;
}
.Two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-top: 5px;
}
.topbarDiv1{
    position: relative;
}
.topbarDiv2{
    margin-left: 40px !important;
}
.topbarDiv3{
    margin-left: 20px !important;
}
.topbarDiv4{
    margin-left: 20px !important;
}
.topbarDiv5{
    margin-left: 40px !important;
}
.topbarDiv6{
    margin-left: 50px !important;
}
.hum{
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-right: 30px;
    color: gray;
}
.topbarDiv2 input{
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 15px; 
    padding: 7px 40px 7px 15px;   
    background-color: #f2f4f7;
}
.multi{
    font-weight: lighter;
    font-size: 9px;
    position: absolute;
    margin-left: -25px;
    margin-top: 6px;
    
}
.topbarDiv3 button{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: rgb(177, 175, 175);
    margin-top: 5px;
}
.topbarDiv4 button{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: rgb(177, 175, 175);
}
.topbarDiv5{
    display: flex;
   align-items: center;
   position: relative;
}
.topbarDiv5 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.topbarDiv5 p{
    font-size: 14px;
    margin-top: -5px;
    margin-right: 7px;
    margin-left: 7px;
}
.gray{
    color: gray;
}
/*--topbar divs--*/
.notificationDiv{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin-top: 10px;
    margin-left: -140px;
    box-shadow: 2px 2px 6px 5px lightgrey;
}
.same{
    border-top: 1px solid lightgray;

}

/*---notifiction div---*/

.NotiMessage{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
.NotiMessageDiv1{
    display: flex;
    text-align: left;
}
.NotiMessageDiv1 img{
    width: 30px;
    height: 30px;
    border-radius: 90%;
    margin-right: 10px;
}
.NotiMessageDiv1 p{
    font-size: 13px;
}
.time{
    font-size: 14px;
}
.teal{
    color: teal;
    font-size: 15px;
}
.noificationFooter{
    border-top: 1px solid lightgray;
    padding: 10px 10px;
}
.noificationFooter p{
    font-size: 12px;
    font-weight: 500;
    color: teal;
}
.noificationHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  10px;
    font-size: 14px;
    font-weight: 500;
}

/*--notifiMessage--*/

.accountDp{
 display: flex;
 padding: 10px;
 border-bottom: 1px solid lightgrey;
}
.accountDp span{
    margin-right: 10px;
}
.accountDp p{
    font-size: 14px;
    font-weight: 500;
}
.AccountDiv{
background-color: rgb(255, 255, 255);
position: absolute;
top: 60px;
right: 10%;
box-shadow: 2px 2px 6px 5px lightgrey;
}
/*--acount-Dropdow---*/

.largSidebarWrapper{
    position: absolute;
    top: 50px;
    margin-left: -15px;
    width: 280px;
    height: calc(100vh - 50px);
    background-color: rgb(255, 255, 255);
    text-align: left;
    overflow-y: auto;
    box-shadow: 2px 10px 5px gray;
}
::-webkit-scrollbar {
    width: 8px; 
  }
.largUl1{
    list-style: none;
    padding: 10px 20px;
}
.largUl1 li{
    font-size: 14px;
    margin-bottom: 45px;
    margin-top: 45px;
    color: #646777;
    font-family: sans-serif;
}
.largUl1 li span{
    margin-right: 10px;
    color: grey;
}

.uiElement{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px !important;
}
.UIUL{
    list-style: none;
    padding: 20px 20px;
}
.UIUL li{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.redNew{
    color: white !important;
    background-color: red;
    padding: 0px 3px;
    border-radius: 10px;
    font-size: 12px;
}

/*--large side bar--*/

.smallbarWrapper{
    position: absolute;
    top: 50px;
    margin-left: -15px;
    width: 70px;
    height: calc(100vh - 50px);
    text-align: center;
    box-shadow: 2px 10px 5px gray;
}
::-webkit-scrollbar {
    width: 8px; 
  }
.smallUl{
    list-style: none;
    padding: 10px 10px;
}
.smallUl li{
    margin-bottom: 20px;
    color: gray;
}

/*--s,mll bar--*/

.flag{
    width: 20px;
}
.flagmenu{
    width: 10px !important;
}
.flagbtn{
    border: none;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
}
.flagItem{
    font-size: 11px;
}
.smallmenu{
    padding-right: 40px;
    margin-right: 0px !important;
}
.smallmenubtn{
    border: none;
    color: gray;
}
.dot{
    color: red;
    font-size: 40px;
    margin-top: -3px;
    margin-left: -10px;
}
.doot{
    color: red;
    font-size: 40px;
    margin-top: -13px;
    margin-left: -15px;
}

@media only screen and (max-width: 768px){
    .topBarWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        width: 100%;
        position: fixed;
        height: 60px;
       box-shadow: 2px 2px 2px 2px lightgrey;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .topbarDiv2{
        margin-left: 20px !important;
    }
    .topbarDiv3{
        margin-left: 10px !important;
    }
    .topbarDiv4{
        margin-left: 10px !important;
    }
    .topbarDiv5{
        margin-left: 10px !important;
    }
    .topbarDiv6{
        margin-left: 20px !important;
    }

    .hum{
        font-size: 25px;
        margin-right: 25px;
    }
    .topbarDiv2 input{
        max-width: 150px;
        width: 100%;
        padding: 7px 25px 7px 10px;   
    }
    .multi{
        font-size: 10px;
    }
    .topbarDiv3 button{
        font-size: 20px;
        margin-top: 5px;
    }
    .topbarDiv4 button{
        font-size: 20px;
    }
    .topbarDiv5{
        display: flex;
       align-items: center;
    }
    .topbarDiv5 img{
        width: 20px;
        height: 20px;
    }
    .topbarDiv5 p{
        font-size: 10px;
        margin-right: 4px;
        margin-left: 4px;
        color: gray;
    }
    .gray{
        color: gray;
    }

    
.NotiMessage{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}
.NotiMessageDiv1{
    display: flex;
    text-align: left;
}
.NotiMessageDiv1 img{
    width: 20px;
    height: 20px;
    border-radius: 90%;
    margin-right: 10px;
}
.NotiMessageDiv1 p{
    font-size: 10px;
}
.time{
    font-size: 12px;
}
.teal{
    color: teal;
    font-size: 12px;
}
.noificationFooter{
    border-top: 1px solid lightgray;
    padding: 5px 10px;
}
.noificationFooter p{
    font-size: 12px;
    font-weight: 500;
    color: teal;
}
.noificationHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px  10px;
    font-size: 12px;
    font-weight: 500;
}
}