.styles_react-code-input__CRulA > input{
    border: solid 1px #d9dce0 !important; 
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    color: #525461;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-appearance: initial;
}