
.talentSec1{
    padding: 10px 15px;
    border-bottom: 3px solid lightgray;
}
.boldhead{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}
.headContent{
    font-size: 13px;
    margin-top: -8px;
    color: #c7c8d3;
}
.topdivbottomborder{
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.agegender{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.verfiedambassdor{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/*--talent-profile---*/
.socialMedialDiv{
    display: flex;
    justify-content: space-between;
}
.medianame{
    color: #c7c8d3;
    font-size: 14px;
}
.medialdetial{
    font-size: 12px;
    font-weight: 500;
}
.instagram{
    border-bottom: 1px solid rgb(235, 233, 233);
    padding: 10px 0px;
}
.facebook{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(236, 233, 233);
}
.tiktok{
    padding: 10px 0px;
}
/*--social-media--*/
.lastportion{
    padding: 20px 15px;
}
.tabdivsecond{
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
/*--last-portion-portfoilio--instgram--*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.cover{
    width: 100%;
    height: 100vh;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.card{
    width: 280px;
    height: calc(100% - 20vh);
    text-align: left;
    position: fixed;
    right: 10px;
    bottom: 5px;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.scrollableportion{
    height: 70vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.bottombtns{
    margin-top: -2px;
    border-top: 3px solid rgb(226, 214, 214);
    height: calc(80vh - 70vh);
    background-color: rgb(255, 255, 255);
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.reject {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    width: 47%;
    border-radius: 0.4em;
    font-weight: 500;
    font-size: 1em;
    padding: 0.3rem;
}
.approve {
    background-color: #000;
    color: white;
    width: 47%;
    border: 2px solid black;
    border-radius: 0.4em;
    font-size: 1em;
    padding: 0.3rem;
}
::-webkit-scrollbar {
    width: 2px; 
    background-color: white;
  }
  ::-webkit-scrollbar-button {
    height: 5px !important; 
  }
  ::-webkit-scrollbar-track {
    margin-bottom: 0px;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgb(77, 75, 75);
    border-right: none;
    border-left: none;
}
.mainPic{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 35vh;
    background-color: transparent !important;
    border: 2px solid white;
}
.nameloc{
    padding: 10px 20px;
}
.name{
    font-weight: 600;
    font-size: 14px;
    margin-top: -5px;
}
.location{
    color: #ada7a7;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
}
.socialdiv{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.sec2{
    padding: 10px 15px;
    
}
.tabdiv{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0px 0px;
}
.left{
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.right{
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}
.heading{
    font-weight: 600;
    font-size: 13px;
    padding: 0px 15px;
}
.brandDiv{
    display: flex;
    padding: 10px 15px;
}
.brandimage{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 7px;
}
.brandname{
    font-size: 13px;
    font-weight: 700 !important;
}
.discount{
    margin-top: 0px;
    font-size: 13px;
    color: rgb(153, 149, 149);
}
.dicountcount{
    color: black;
    font-weight: 700;
}
.text{
    font-size: 13px;
    font-weight: 500;
    color: rgb(153, 149, 149);
    padding: 0px 15px 7px 15px;
}
.socialiconbtn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: white !important;
}
.ratingdiv{
    position: absolute;
    color: white;
    background-color: rgb(0,0,0,0.1);
    padding: 5px 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
.span1{
    margin-right: 5px;
    padding: 0.3rem;
    font-size: 14px;
}
.span2{
    font-size: 14px;
    position: relative;
    top: -2px !important;
}
.closeModal{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: rgb(0,0,0,0.1);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}



.ActivationCodehead{
    font-weight: 600;
    padding: 0px 15px;
    font-size: 14px;
}
.codebottom{
    font-size: 12px;
    color: rgb(153, 149, 149);
    padding: 0px 15px;
    font-weight: 500;
}
.reactCodeInput{
    margin: 0px 15px;
    width: 235px !important;
}
