*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-columns: 20% auto;
    overflow-x: hidden;
}
.places{
    text-align: left;
    list-style: none;
}
.place{
    padding: 0px 40px 0px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.headDiv{
   margin-bottom: 10px;
}
.head{
    padding: 15px 10px;
    font-size: 18px;
}
.name{
    font-size: 16px;
    margin-bottom: 6px;
}
.discrip{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}
.dimension{
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}

@media only screen and (max-width: 800px){
    .wrapper{
        display: grid;
        grid-template-columns: 40% 60%;
        height: 100vh;

    }
}
@media only screen and (max-width: 600px){
    .wrapper{
        grid-template-columns: 100%;
    }
  
}