.whole{
    background-color: teal;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formInputs p {
    color: rgb(214, 214, 214);
}
.signupcontainer{
    margin: 0 auto;
    width: 400px;
    background-color: brown;
    padding: 10px 30px;
    border-radius: 20px;
   
}
.formInputs{
    margin-bottom: 10px;
    text-align: left;
  
}
.formInputs label{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
.formInputs input{
    width: 100%;
    max-width: 370px;
    height: 40px;
    padding: 0px 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 18px;
    color: black;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
::placeholder{
    font-size: 18px;
    color: rgb(189, 179, 179);
}
button{
    width: 100%;
    max-width: 200px;
    height: 40px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: teal;
    border-radius: 30px !important;
}