.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerDiv1{
    display: flex;
    align-items: center;
}
.headerDiv1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.p1{
    font-weight: 500;
    margin-bottom: -5px;
}
.p2{
    margin-bottom: -2px;
    color: rgb(172, 171, 171);
}
#p2{
    text-align: right;
}

.carsoalDiv{
   margin: 0 auto;
   width: 500px;
}
.tenMay{
    width: 100%;
    height: 100vh;
}
.modal{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 15px;
    width: 95%;
    outline: none;
    margin: 0px  auto 0px auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}



.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.btn2{
    padding: 4px 12px;
    color: white;
    background-color: black;
    border: none;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 13px;
}
.btn1{
    padding: 4px 23px;
    border: 1px solid lightgray;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}
