.next{
    width: 300px;
    margin: 0 auto;
    text-align: left;
}
.muu{
    font-weight: 500;
}



/*--radio---*/

.radio{
    width: 500px;
    margin: 50px auto;
    text-align: left;
    
}
.radio h3{
    margin-bottom: 8px;
}
.radio-select{
    font-weight: 500;;
}

.content h4{
   margin-bottom: 0px;
   padding: 0px;
   color: black;
}
.content p{
    margin: 0px;
    padding: 0px 0px 7px 0px;
    font-weight: 500;
    color: rgb(161, 159, 159);
 }
 .content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid rgb(240, 238, 238);
     width: 100%;
 }
 .one{
     padding-left: 10px;
  
 }
 .two{
     padding-right:10px;
 }
 .circle{
    width: 20px;
    height: 20px;
}

.circle:checked:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #000000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}

/*--below-use NPM--*/

.custom-option{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.custom-option input{
    margin-right: 8px;
}
.npm{
    width: 400px;
    margin: 0 auto;

}

.last{
    width: 400px;
    margin: 30px auto;
}
.last-select{
    font-weight: 500;
}
  