input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.wrapper{
    background-color: #60a3bc;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    
    
}
.wrapper2{
    width: 300px;
    margin: 0 auto;
    padding: 100px 30px 30px 30px;
    background-color: #f39c12;
    border-radius: 4px;
}
.logo{
    width: 110px;
    height: 110px;
    padding: 7px;
    margin-bottom: -50px;
    border-radius: 50%;
    background-color: #60a3bc;
}
.userNameDiv{
    margin-bottom: 15px;
}
.passwordDiv{
    margin-bottom: 15px;
}
.checkboxDiv{
    margin-bottom: 15px;
    text-align: left;
    margin-left: 10px;
}
.span{
    color: #007bff;
    cursor: pointer;
}
.a{
    text-decoration: none;
}

/*--container--*/

.iconBtn{
    border: none;
    background-color: #c0392b;
    color: white;
    padding: 6px 7px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.topInputs{
    padding: 7px 10px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*--inputField top two--*/

.checkbox{
    margin-right: 10px;
}


/*--checbox--*/

.loginbtn{
    padding: 6px 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #c0392b;
}