*{
    padding:0px;
    margin:0px;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    padding: 60px;
}
.nav{
    width: 600px;
    margin: 0 auto;
    background-color: #e5e5e5;
    padding: 100px;
}
.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.btn{
    border: none;
    background-color: transparent;  
    font-weight: 500;
    color: gray;
    align-items: center;
    padding-bottom: 20px;
}
.li{   
    padding-bottom: 0px;
}
.btn:active{
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: 20px;
}
.ddd{
    margin-bottom: 0px;
}
.dataa{
    position: absolute;
    margin-top: 30px;
    margin-bottom: -80px;
}

